@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'tangerine';
  src: url('./fonts/Tangerine-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
  background-image: url(./images/background.jpg);
}

header h1 {
  font-size: 60px;
  color: rgb(51, 51, 51);
  font-family: 'tangerine';
}

header p {
  font-size: 1.2rem;
}

main {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  gap: 1rem;
  .boardContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  .fleet.player.player {
    max-width: 1400px;
    min-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 2rem 0rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.5fr;
    border: 2px solid black;
    padding: 1rem 1rem;
    transition: 0.5s;
    i {
      margin: 2rem 1rem 2rem 0;
    }
  }
  .board {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    background-image: url('./images/sea.jpg');
    filter: brightness(1.4);
    transition: 0.5s;
    div {
      position: relative;
      width: 50px;
      height: 50px;
      border: 1px solid white;
      transition: 0.3s;
    }
  }
}

.fleet img {
  transition: 0.5s;
  cursor: pointer;
}
.fleet img.inactive {
  filter: grayscale(1);
  cursor: default;
}

.shipToLoad {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}
.vertical {
  transform: rotate(90deg) translateX(-50px);
  transform-origin: bottom left;
}

i {
  font-size: 1.5rem;
  transition: 0.5s;
  &:hover {
    transform: rotate(90deg);
    cursor: pointer;
  }
}
.shipRotate {
  transform: rotate(90deg);
}
.fieldFree {
  background-color: rgba($color: green, $alpha: 0.3);
}
.fieldTaken {
  background-color: rgba($color: red, $alpha: 0.3);
  z-index: 100;
}
.fieldComputerHidden {
  background-color: black;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
    background-color: rgb(97, 97, 97);
    border: 2px solid white;
  }
}
.statsContainer {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 0.5s;
  width: 1000px;
  h2 {
    text-transform: uppercase;
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
  }
}
.hidden {
  transform: scaleX(0);
}

.hitShip {
  background-image: url(./images/fire.gif);
  background-size: cover;
}
img.imageForHit,
img.imageForMiss {
  width: 50px;
  height: 50px;
  z-index: 100;
}

.fieldsAroundHits {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 8px,
    rgba(255, 0, 0, 0.527) 5px,
    rgba(255, 0, 0, 0.568) 15px
  );
}

.fieldsAroundHits2 {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 8px,
    rgba(0, 161, 27, 0.527) 5px,
    rgba(0, 158, 0, 0.568) 15px
  );
}

.box {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

main > button {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 12rem;
  height: 3rem;
  font-weight: bold;
  border: 2px solid green;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.3);
  }
}

.board {
  filter: brightness(0.5);
}

.board.computer {
  cursor:
    url(./images/cursor.png) 25 25,
    crosshair;
}

.board.computer.inactive {
  cursor: default;
}

.cannon {
  overflow: visible;
  padding: 0 1rem;
  width: fit-content;
  background-color: rgba(122, 241, 25, 0.555);
  position: sticky;
  left: 2rem;
  top: 40%;
}

.cannonHidden {
  display: none;
}

.loading {
  animation-name: loading;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  transform-origin: left;
}

@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 332px;
  }
}
