@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'tangerine';
  src: url('./fonts/Tangerine-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
}

header h1 {
  font-size: 60px;
  color: rgb(51, 51, 51);
  font-family: 'tangerine';
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 1200px;
  .boardContainer {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  .fleet.player.player {
    display: grid;
    gap: 5rem 2rem;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid black;
    padding: 3rem;
    transition: 0.5s;
  }
  .board {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    background-image: url('./images/sea.jpg');
    filter: brightness(1.4);
    transition: 0.5s;
    div {
      position: relative;
      width: 50px;
      height: 50px;
      border: 1px solid white;
      transition: 0.3s;
    }
  }
}
.fleet img {
  transition: 0.5s;
  cursor: pointer;
}
.fleet img.inactive {
  filter: grayscale(1);
  cursor: default;
}

.shipToLoad {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}
.vertical {
  transform: rotate(90deg) translateX(-50px);
  transform-origin: bottom left;
}

i {
  font-size: 1.5rem;
  transition: 0.5s;
  &:hover {
    transform: rotate(90deg);
    cursor: pointer;
  }
}
.shipRotate {
  transform: rotate(90deg);
}
.fieldFree {
  background-color: rgba($color: green, $alpha: 0.3);
}
.fieldTaken {
  background-color: rgba($color: red, $alpha: 0.3);
  z-index: 100;
}
.fieldComputerHidden {
  background-color: black;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
    background-color: rgb(97, 97, 97);
    border: 2px solid white;
    cursor: pointer;
  }
}
.statsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: 0.5s;
}
.hidden {
  transform: scaleX(0);
}

.hitShip {
  background-image: url(./images/fire.gif);
  background-size: cover;
}
img.imageForHit, img.imageForMiss {
  width: 50px;
  height: 50px;
  z-index: 100;
}

.fieldsAroundHits {
  background-color: rgba($color: red, $alpha: 1.0);
}