@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'tangerine';
  src: url('./fonts/Tangerine-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
}

header h1 {
  font-size: 60px;
  color: rgb(51, 51, 51);
  font-family: 'tangerine';
}

main {
  display: flex;
  gap: 2rem;
  .board {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    background-image: url('./images/sea.jpg');
    div {
      position: relative;
      width: 50px;
      height: 50px;
      border: 1px solid white;
      transition: 0.3s;
    }
  }
}
.fleet img {
  background-color: rgb(26, 81, 118);
  transition: 0.5s;
}

.shipToLoad {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}

i {
  font-size: 1.5rem;
  transition: 0.5s;
  &:hover {
    transform: rotate(90deg);
    cursor: pointer;
  }
}
.shipRotate {
  transform: rotate(90deg);
}
.fieldFree {
  background-color: rgba($color: green, $alpha: 0.3);
}
