@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'tangerine';
  src: url('./fonts/Tangerine-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-items: center;
}

header h1 {
  font-size: 60px;
  color: rgb(51, 51, 51);
  font-family: 'tangerine';
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .boardContainer {
    display: flex;
    gap: 2rem;
  }
  .fleet.player.player {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .board {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid black;
    background-image: url('./images/sea.jpg');
    div {
      position: relative;
      width: 50px;
      height: 50px;
      border: 1px solid white;
      transition: 0.3s;
    }
  }
}
.fleet img {
  transition: 0.5s;
  cursor: pointer;
}
.fleet img.inactive {
  filter: grayscale(1);
  cursor: default;
}

.shipToLoad {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
}
.vertical {
  transform: rotate(90deg) translateX(-50px);
  transform-origin: bottom left;
}

i {
  font-size: 1.5rem;
  transition: 0.5s;
  &:hover {
    transform: rotate(90deg);
    cursor: pointer;
  }
}
.shipRotate {
  transform: rotate(90deg);
}
.fieldFree {
  background-color: rgba($color: green, $alpha: 0.3);
}
.fieldTaken {
  background-color: rgba($color: red, $alpha: 0.3);
  z-index: 100;
}
.fieldAround {
  background-color: rgba($color: rgb(20, 172, 33), $alpha: .3);
}
.fieldComputer {
  background-color: rgba($color: red, $alpha: 1);
}
